.noteComponent{
    margin-left: 24%;
    padding-top: 3%;
    width: 550px;
    // position: fixed;
}


.noteComponent1{
   width: 550px;
    // position:absolute;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
.fontSize{
  font-size: x-small;
}
.matInput{
  color: black;
}
.mat-icon{
  height: 10px;
}