<div class="main" fxLayout="column" fxLayoutAlign="center center"  >
  <div  class="register">
      <mat-card class="mat-card">
              <div class="fundooNote" fxLayoutAlign="center center">
                  <h2>FundooNotes</h2>
              </div>
              <div class="register" fxLayoutAlign="center center">
                  <h3>Reset-Password</h3>
               </div>
           <form fxLayoutAlign="center center" [formGroup]="resetForm">
           <div  fxLayout="column" fxLayoutAlign="center center"> 
            <div>      
              <mat-form-field id="newPassword" appearance="outline">
                      <mat-label>newPassword</mat-label>
                      <input matInput placeholder="newPassword" formControlName="newPassword" [(ngModel)]="password.newPassword"> 
                    </mat-form-field>
          </div>
             
              <div>      
                <mat-form-field id="confNewPassword" appearance="outline">
                        <mat-label>confNewPassword</mat-label>
                        <input matInput placeholder="confirm-password" formControlName="confNewPassword" [(ngModel)]="password.confNewPassword"> 
                      </mat-form-field>
            </div>
                  <div class = "space-between-button">
                      <div class="example-button-row"> 
                          <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
                      </div>    
                  </div>
           </div>
                </form>
      </mat-card>
  </div>
</div>
