<h3>Edit Labels</h3>
<div fxLayout="column" fxLayoutAlign="center center">
<mat-form-field>
<input matInput placeholder="Enter labelName" [formControl]=labelName [(ngModel)]="label.labelName">
</mat-form-field>
<div fxFlex="100" fxLayout="column">
    <div *ngFor="let data of labels">
      <button mat-button (click)="onEditLabelDailog(data)">
        <img src="../../../assets/label.svg" >
        {{data.labelName}} 
        <br>
      </button>
    </div>
  </div>
<div class="close">
<button mat-raised-button (click)="onClose()">
close
</button>
</div>
</div>