.asfea{
    display: flex;
    justify-content: center;
    margin-top: 10%
}

.matcard2{
    display: flex;
    justify-content: center;
    //width:20vw;
    // height: 20vh;
    margin: 5px;
    //width: 200px;
}
.app{
    width:5vw;
    // height: 2vh;
}

.word-break{
    word-break: break-all;
}